---
const { title, description, canonical, schema = [] } = Astro.props;
---
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonical} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonical} />
{schema.length > 0 && <script type="application/ld+json" set:html={JSON.stringify(schema)} />}
